<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="defaultStatementTimeout" value="600"/>
    </settings>


    <typeAliases>
      <typeAlias type="com.mooc.house.user.test.Person"    alias="person"/>
      <typeAlias type="com.mooc.house.user.model.Agency"  alias="agency"/>
      <typeAlias type="com.mooc.house.user.model.User"  alias="user"/>
    </typeAliases>

    <typeHandlers>
    </typeHandlers>

    <mappers> 
      <mapper resource="mapper/test.xml"/>
      <mapper resource="mapper/agency.xml"/>
      <mapper resource="mapper/agent.xml"/>
      <mapper resource="mapper/user.xml"/>
    </mappers>


</configuration>