<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="defaultStatementTimeout" value="600"/>
    </settings>


    <typeAliases>
        <typeAlias type="com.mooc.house.hsrv.model.City" alias="city"/>
        <typeAlias type="com.mooc.house.hsrv.model.House" alias="house"/>
        <typeAlias type="com.mooc.house.hsrv.model.Community" alias="community"/>
        <typeAlias type="com.mooc.house.hsrv.model.HouseUser" alias="houseUser"/>
    </typeAliases>

    <typeHandlers>
    </typeHandlers>

    <mappers>
        <mapper resource="mapper/city.xml"/>
        <mapper resource="mapper/community.xml"/>
        <mapper resource="mapper/house.xml"/>
        <mapper resource="mapper/house_msg.xml"/>
        <mapper resource="mapper/house_user.xml"/>
    </mappers>


</configuration>